html {
  background: url('assets/images/purple-tri.jpg') no-repeat center center fixed;
  background-size: cover;
}
main {
  width: 100%;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.ds-logo {
  height: 100%;
  width: 80%;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-bar {
  background: darkorchid;
  height: 7vh;
  width: 80%
}
.menu-bar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.menu-bar-links a {
  color: white;
  text-decoration: none;
}
.mobile-menu {
  display: none;
}
.content {
  background: white;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}
.bio-container {
  display: flex;
  justify-content: space-between;
}
.temi {
  width: 40%;
}
.bio-paragraph {
  font-size: 24px;
}
.bio-quote {
  font-size: 18px;
}

.call-to-action {
  background: black;
  display: flex;
}
.location-card {
  background: darkorchid;
  width: 22vw;
  height: 35vh;
  margin: 1vh 2vw;
  color: white;
  text-align: center;
}
.hours-card {
  background: darkorchid;
  width: 22vw;
  height: 35vh;
  margin: 1vh 2vw;
  /* display: inline-block; */
  color: white;
  text-align: center;
  font-size: 2vh;
}
.zumba-card {
  background: darkorchid;
  width: 22vw;
  height: 35vh;
  margin: 1vh 2vw;
  /* display: inline-block; */
  color: white;
  display: flex;
}
.zumba-card img {
  width: 22vw;
  margin: 10vh auto;
}
.icon {
  font-size: 48px
}
.register-container {
  /* background: url('assets/images/purple-lights.jpg') no-repeat center center fixed; */
  background: url('assets/images/dancin-styles-class2.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.register-container h2 {
  font-size: 30px;
  text-align: center;
}
.register-container p {
  text-align: center
}
.register-button {
  display: block;
  background: darkorchid;
  margin: 0 auto;
  color: #fff;
  height: 5vh;
  width: 15%;
  margin-top: 5vh
}
.youtube {
  display: flex;
  justify-content: center;
  width: 100%
}
.video-player iframe{
  width: 78vw;
  height: 60vh;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background: #333;
  height: 5vh;
  width: 80%;
}
.footer-info {
  color: #fff;
  padding-left: 2vw;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.icon {
  display: inline;
  font-size: 3vh;
}

@media only screen and (max-width: 768px) {
  .menu-bar-links {
    display: none;
  }
  .menu-bar-links a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    background: darkorchid;
  }
  .menu-bar-links a:hover {
    background: black;
  }
  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 7vh;
  }
  .fa-bars {
    font-size: 6vh;
    background: #000;
    display: block;
    position: absolute;
    color: #fff;
    height: 7vh;
    /* width: 300px; */
  }
  .bio-container {
    display: flex;
    flex-direction: column;
  }
  .temi {
    width: 80vw;
    height: 50vh;
  }
  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    display: block;
    width: 80%;
    margin: 1vh auto;
  }
  .zumba-card img {
    width: 100%;
    margin: 10vh auto;
  }
  .register-button {
    width: 30%
  }
  .social-media-logo {
    display: none;
  }
}