body {
  background: url('background.jpg');
}
header {
  margin-top: 1vh;
}
.ds-logo {
  height: 75vh;
  width: 80vw;
}
/* .header-h1  {
  color: darkorchid;
  margin-top: 3vh;
  padding-left: 1vw;
} */
.bio-paragraph {
  font-size: 24px;
}
.bio-quote {
  font-size: 18px;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: darkorchid;
  margin: 0 auto;
  height: 7vh;
  width: 80vw;
}
.menu-bar a {
  color: white;
  padding-right: .5vw;
  margin: auto;
}
.content {
  background: white;
  margin: 2vh auto;
  height: 100%;
  width: 81.5%;
}
.call-to-action {
  text-align: center;
}
.register-button {
  background: darkorchid;
  margin-top: 2vh;
  color: white;
  height: 5vh;
  width: 10vw;
}
.zumba-logo {
  height: 15vh;
  width: 25vw;
  margin-top: 5vh;
}
